<web-app>
 <servlet>
  <servlet-name>xyz</servlet-name>
  <servlet-class>SignupServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>xyz</servlet-name>
  <url-pattern>/signup</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>

 <servlet>
  <servlet-name>mno</servlet-name>
  <servlet-class>AdminLoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>mno</servlet-name>
  <url-pattern>/admin</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>admin</servlet-name>
  <servlet-class>AdminServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>admin</servlet-name>
  <url-pattern>/adminservlet</url-pattern>
 </servlet-mapping>

 
 <servlet>
  <servlet-name>transervlet</servlet-name>
  <servlet-class>TranServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>transervlet</servlet-name>
  <url-pattern>/trans</url-pattern>
 </servlet-mapping>
</web-app>